@import url(//db.onlinewebfonts.com/c/7908e7be605377f17d6c0f074e33a3d9?family=NeuzeitOfficeW01-Regular);
@import url(//db.onlinewebfonts.com/c/bbb6e60048cdf23865725f0cd9bbbb79?family=Neuzeit+S+LT+Std);
@import url(//db.onlinewebfonts.com/c/8e3dbb7b1ac9146babbb33efce878df0?family=SubstanceW00-ExtraLight);
*, ::after, ::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:where(:root) {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:where(main) {
  display: block;
}

:where(h1) {
  font-size: 2em;
  margin: 0.67em 0;
}

:where(p + p) {
  margin-top: 1rem;
}

:where(a) {
  background-color: transparent;
}

:where(abbr[title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

:where(code, kbd, samp, pre) {
  font-family: monospace, monospace;
  font-size: 1em;
}

:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

:where(button, input, optgroup, select, textarea) {
  line-height: inherit;
  border: 1px solid currentColor;
}

:where(button) {
  overflow: visible;
  text-transform: none;
}

:where(button, [type=button], [type=reset], [type=submit]) {
  -webkit-appearance: button;
  padding: 1px 6px;
}

:where(input) {
  overflow: visible;
}

:where(input, textarea) {
  padding: 1px;
}

:where(fieldset) {
  border: 1px solid currentColor;
  margin: 0 2px;
}

:where(legend) {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

:where(progress) {
  display: inline-block;
  vertical-align: baseline;
}

:where(select) {
  text-transform: none;
}

:where(textarea) {
  overflow: auto;
  vertical-align: top;
}

:where([type=search]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

:where([type=color]) {
  background: inherit;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button, ::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:where(hr) {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

:where(dl, ol, ul) {
  margin: 1em 0;
}

:where(ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl) {
  margin: 0;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(audio, video) {
  display: inline-block;
}

:where(audio):not([controls]) {
  display: none;
  height: 0;
}

:where(img) {
  border: 0;
}

:where(svg):not(:root) {
  overflow: hidden;
}

:where(table) {
  text-indent: 0;
  border-color: inherit;
}

:where(details) {
  display: block;
}

:where(dialog) {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}

:where(dialog):not([open]) {
  display: none;
}

:where(summary) {
  display: list-item;
}

:where(canvas) {
  display: inline-block;
}

:where(template) {
  display: none;
}

:where([hidden]) {
  display: none;
}

html {
  display: flex;
  font-size: 62.5%;
  min-height: 100%;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
}

body {
  width: 100%;
  margin: 0;
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  flex: 1 0;
  display: flex;
  line-height: 1.618;
  flex-direction: column;
  font-size: var(--font-medium);
  -webkit-font-smoothing: antialiased;
}

*[class*=adaptative-img] {
  position: relative;
}

*[class*=adaptative-img] > img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.adaptative-img--cover > img {
  object-fit: cover;
}

.adaptative-img--contain > img {
  object-fit: contain;
}

img {
  width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

:root {
  --black-primary: rgb(40, 40, 40);
  --black-secondary: rgb(33, 33, 33);
  --font-family-primary: "Neuzeit S LT Std";
  --font-family-secondary: "NeuzeitOfficeW01-Regular";
  --container-padding: 16px;
  --text-shadow: 1px 1px 1px #0000005e;
  --global-transition: all ease-out 100ms 100ms;
  --cubic-transition: all cubic-bezier(0.68, -0.55, 0.27, 1.55) 300ms 200ms;
  --font-tiny: calc(0.8rem + 0.6vmin);
  --font-small: calc(1rem + 0.6vmin);
  --font-medium: calc(1.2rem + 0.6vmin);
  --font-large: calc(1.4rem + 0.6vmin);
  --font-big: calc(1.6rem + 0.6vmin);
  --font-title: calc(2rem + 0.6vmin);
}

body {
  background-color: #ebebeb;
  max-width: 1430px;
  margin: 0 auto;
}
body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.76);
  animation: animBefore 2s ease forwards;
  animation-delay: 0.1s;
}
@keyframes animBefore {
  to {
    opacity: 0;
    z-index: -1;
  }
}

header {
  padding-top: 0;
  position: relative;
}

.Container {
  padding-bottom: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 70px;
  top: 20px;
  width: 92%;
  z-index: 1;
}
.Container .text-viewer {
  margin-top: 20px;
  padding-right: 100px;
  cursor: url("https://d2kq0urxkarztv.cloudfront.net/634a38daebe9a6001a0d6f02/image-8e769d79-60a9-4c6a-985b-1b7eec9595a9.png?w=50") 30 10, auto;
  overflow: visible;
  mix-blend-mode: normal;
  transition: all 0.3s ease;
}
.Container .text-viewer:hover {
  mix-blend-mode: difference;
}
.Container #slider img {
  display: none;
  width: 40%;
}
.Container #slider img.active {
  display: block;
}
.Container #ct7 {
  font-family: "SubstanceW00-ExtraLight";
  font-weight: 800;
  word-spacing: 2px;
  font-style: normal;
  align-items: top;
  font-size: 140px;
  letter-spacing: -2px;
  text-decoration: none;
  display: block;
  margin-top: -30px;
  cursor: url("https://d2kq0urxkarztv.cloudfront.net/634a38daebe9a6001a0d6f02/image-8e769d79-60a9-4c6a-985b-1b7eec9595a9.png?w=50") 30 10, auto;
}
.Container #ct8 {
  line-height: 36px;
  font-weight: 500;
  font-family: var(--font-family-primary);
  font-size: 49px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: url("https://d2kq0urxkarztv.cloudfront.net/634a38daebe9a6001a0d6f02/image-8e769d79-60a9-4c6a-985b-1b7eec9595a9.png?w=50") 30 10, auto;
  transition: all 0.3s ease;
}
.Container #ct8:hover {
  opacity: 0.7;
  letter-spacing: 2px;
}

main {
  padding-top: 200px;
}

.Container_one {
  display: flex;
  gap: 295px;
  padding-bottom: 75px;
  padding-left: 27px;
  padding-right: 10px;
}
.Container_one .p_one {
  width: auto;
  letter-spacing: 2px;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 27px;
  font-family: var(--font-family-primary);
  color: var(--black-primary);
}
.Container_one .p_two {
  width: auto;
  letter-spacing: 2px;
  padding-right: 145px;
  font-family: var(--font-family-primary);
  color: var(--black-primary);
  line-height: 27px;
}
.Container_one .p-presentation {
  padding-bottom: 20px;
  text-transform: uppercase;
}

#grey {
  color: gray;
}

.Container_two {
  display: flex;
  justify-content: end;
}
.Container_two img {
  width: 65%;
  border-radius: 5px;
}

.htg-img-three-one,
.htg-img-three-two,
.htg-img-four-one,
.htg-img-four-two,
.htg-img-five-one,
.htg-img-five-two {
  padding-top: 5px;
  display: flex;
  justify-content: end;
  font-family: var(--font-family-primary);
  font-size: 17px;
  color: var(--black-secondary);
  justify-content: space-between;
}

.htg-img {
  gap: 28px;
  padding-top: 5px;
  display: flex;
  justify-content: end;
  font-family: var(--font-family-primary);
  font-size: 17px;
  color: var(--black-secondary);
}

.Container_three,
.Container_four,
.Container_five {
  padding-top: 160px;
  display: flex;
  gap: 22px;
}
.Container_three img,
.Container_four img,
.Container_five img {
  border-radius: 5px;
}
.Container_three .Container_five-bloc-two,
.Container_four .Container_five-bloc-two,
.Container_five .Container_five-bloc-two {
  flex: 2 0;
}

.Container_five {
  padding-bottom: 185px;
}

footer {
  display: flex;
  padding-bottom: 30px;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  mix-blend-mode: difference;
  font-weight: 400;
}
footer p {
  font-family: var(--font-family-primary);
  font-size: 17px;
  color: white;
  transition: all 0.3s ease;
  cursor: default;
}
footer p:hover {
  opacity: 0.7;
  letter-spacing: 2px;
}

img:hover {
  cursor: url("https://d3n32ilufxuvd1.cloudfront.net/634a38daebe9a6001a0d6f02/63e565878aea6300301f7dcf/RasterizedImage-af08755c-eab8-4666-8c5b-8cd538907e1a.png") 30 10, auto;
}

#image2,
#image3,
#image4,
#image6,
#image8,
#image10,
#image11,
#image13 {
  display: none;
}

@media screen and (max-width: 1165px) {
  .Container_one {
    display: block;
    flex-direction: column;
    text-align: justify;
  }
  .Container #ct7 {
    font-size: 105px;
    margin-left: -30px;
  }
  .Container #ct8 {
    font-size: 40px;
    font-family: var(--font-family-primary);
    font-size: 17px;
    color: white;
    transition: all 0.3s ease;
    cursor: default;
  }
  .p_two {
    padding-top: 70px;
  }
}
@media screen and (max-width: 900px) {
  body {
    padding: 25px;
  }
  .Container_two img {
    width: 100%;
  }
  .Container_two,
  .Container_three,
  .Container_four,
  .Container_five {
    display: block;
    flex-direction: column;
  }
  .Container {
    margin-bottom: 40px;
    top: 20px;
    width: 108%;
    left: 28px;
    margin-left: -25px;
  }
  .Container .text-viewer {
    margin-top: 4px;
  }
  .Container #ct7 {
    font-size: 60px;
  }
  .Container #ct8 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  header {
    padding-top: 0;
  }
  main {
    padding-top: 150px;
  }
  .Container_five-bloc-two {
    width: auto;
  }
  .htg-img-three-one,
  .htg-img-four-one,
  .htg-img-five-one {
    padding-bottom: 160px;
  }
  .Container_one {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 600px) {
  .Container {
    width: 113%;
    left: 35px;
    top: 15px;
  }
  main {
    padding-top: 130px;
  }
  .Container_one {
    text-align: justify;
  }
  .p_one {
    min-width: auto;
    text-align: justify;
    margin: 0 auto;
    padding: 0 auto;
  }
  .p_two {
    width: auto;
    text-align: justify;
    margin: 0 auto;
    padding: 0 auto;
  }
  .htg-img-three-one {
    gap: 188px;
  }
  .htg-img,
  .htg-img-three-one,
  .htg-img-three-two,
  .htg-img-four-one,
  .htg-img-four-two,
  .htg-img-five-one,
  .htg-img-five-two {
    font-size: 15px;
  }
  .htg-img {
    gap: 318px;
  }
}

/*# sourceMappingURL=index.css.map */
